@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
  background-color: white;
  margin-top: 100px;
  width: 30em;
  height: 30em;
  position: relative;
  border-radius: 2em;
  box-shadow: 0 2.088em 4.550em rgb(180, 178, 178);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container form input{
 width: 350px;
 padding:10px;
 font-size: 17px;
 margin:8px 0;
 background: #f7f6f6;
 border-radius: 20px;
}

.container form .form-btn{
  background: #ffffff;
  color:rgb(0, 0, 0);
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
}

.container form .form-btn:hover{
  background: rgb(255, 32, 32);
  color:#fff;
}

input:focus {
  outline-color: rgb(255, 32, 32);
}
